[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains
[submodule "Crafter_SDK/Crafter_Magnum/corrade"]
	path = Crafter_SDK/Crafter_Magnum/corrade
	url = https://github.com/mgood7123/corrade
[submodule "Crafter_SDK/Crafter_Magnum/magnum"]
	path = Crafter_SDK/Crafter_Magnum/magnum
	url = https://github.com/mgood7123/magnum
[submodule "Crafter_SDK"]
	path = Crafter_SDK
	url = https://github.com/mgood7123/Crafter_SDK
	branch = main
